/*nav {
    background-color: #992e45;
}

.input-field input:focus+label {
    color: #992e45 !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid #992e45 !important;
    box-shadow: 0 1px 0 0 #992e45 !important
}

.material-icons {
    color: #992e45 !important;
}

.btn {
    background-color: #992e45;
}

.header {
    color: #992e45;
}

.page-footer {
    background-color: #992e45 !important;
}*/

i {
    font-size: 5px;
}